<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chacha.springBootDemo.dao.dal.BdFeatureBrandDAO">
    <resultMap id="resultMap" type="com.chacha.springBootDemo.domain.BdFeatureBrandDO">
        <id property="id" column="id"/>
        <result property="brandCode" column="brand_code"/>
        <result property="brandName" column="brand_name"/>
        <result property="brandUrl" column="brand_url"/>
    </resultMap>

    <select id="findBdFeatureBrand" parameterType="String" resultMap="resultMap">
        select brand_code, brand_name, brand_url
        from bd_featured_brand
        WHERE c_type = 1
    </select>
</mapper>